<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264676782292-rn9to8rp6eor1ile5614r8qcfsmr5lpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264676782292-rn9to8rp6eor1ile5614r8qcfsmr5lpu</string>
	<key>API_KEY</key>
	<string>AIzaSyD0VfNCsMxdw3NoC78FKTvWYL-Pwvm-RQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>264676782292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.somo1App</string>
	<key>PROJECT_ID</key>
	<string>somo1-app</string>
	<key>STORAGE_BUCKET</key>
	<string>somo1-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264676782292:ios:3089253d29036e303fcb41</string>
</dict>
</plist>